@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.2rem rgba(100, 100, 100, 0.1);
  width: 60rem;
  overflow: hidden;
}

.quiz-header {
  padding: 6.4rem;
}

h2 {
  padding: 1.6rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.9rem;
  margin: 1.6rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #70416d;
  border: none;
  color: #fff;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.75rem;
  font-family: inherit;
  padding: 2rem;
}

button:hover {
  background-color: #6e396b;
}

button:focus {
  background-color: #553353;
}
